<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="i0">
  <nav>
    <ul class="nav1">
      <li class="nav-portfolio"><b>Ravi-Teja</b></li>
      <div class="nav-bar">
        <li class="nav2">
          <a href="#a1">HOME</a>
        </li>
        <li class="nav2">
          <a href="#a2">SKILLS</a>
        </li>
        <li class="nav2">
          <a href="#a3">PROJECTS</a>
        </li>
        <li class="nav2">
          <a href="#a4">WORKS</a>
        </li>
        <li class="nav2">
          <a href="#a5">CONTACT</a>
        </li>
      </div>
    </ul>
  </nav>
</div><br id="a1"><br><br><br><br><br><br><br><br>
<div class="r1">
  <div>
    <h1 style="color: rgb(206, 170, 170); margin-left: 100px; font-size: 42px; word-spacing: 10px;"><b>Hi there , I'm
        Ravi 👋</b></h1><br><br><br>
    <div class="d1">
      <h5 style="color: rgb(202, 194, 194); margin-left: 100px; font-size: 25px; line-height: 25px;">👨‍🎓 I'm a Student
        Developer studying B.tech 4th year.</h5>
      <h5 style="color: rgb(202, 194, 194); margin-left: 100px; font-size: 25px;line-height: 25px;">💻 Competitive
        Programmer and Web Developer</h5>
      <h5 style="color: rgb(202, 194, 194); margin-left: 100px; font-size: 25px;line-height: 25px;">💻⭐ MEAN Stack
        Developer</h5>
      <h5 style="color: rgb(202, 194, 194); margin-left: 100px; font-size: 25px;line-height: 25px;">💂 Codechef College
        Chapter Lead</h5>
      <h5 style="color: rgb(202, 194, 194); margin-left: 100px; font-size: 25px;line-height: 25px;">💬 Ask me about
        anything, I am happy to help you 🤝</h5><br><br><br><br><br>
    </div>
    <br><br><br>
    <button type="button"
      style="margin-left: 100px; background-color: blueviolet; height: 65px; width: 150px; border-radius: 8px 8px 8px 8px;"><a
        href="https://docs.google.com/document/d/1p95wZHIC8lDNsP8vVIGBaS1VVTpPRhp66PdOI5eoJys/edit?usp=sharing"
        style="text-decoration: none; color: white;"><b style="font-size: 20px;">My Resume</b></a></button>
        </div>
    <div style="margin-left: 120px; margin-top: 70px;">
      <img src="https://www.srinupotnuru.me/assets/coding.gif">
    </div>
</div><br id="a2"><br><br> <br><br><br> <br><br>
<div class="d2">
  <div>
    <img src="https://www.srinupotnuru.me/assets/rotatingChair.gif" style="margin-left: 100px;">
  </div>
  <div id="a2">
    <br>
    <h1 style="color: wheat; font-size: 42px;">What do i bring to the table? 🤔</h1>
    <h2 style="color: white;">Being a Competitive Programmer i also build things in web development. </h2>
    <i class="fab fa-html5 " style="color: orangered; padding: 25px; font-size: 70px;"></i>
    <i class="fab fa-css3 " style="color: lightseagreen; padding: 25px; font-size: 70px;"></i>
    <i class="fab fa-js " style="color: yellow; padding: 25px; font-size: 70px;"></i>
    <i class="fab fa-angular " style="color: red; padding: 25px; font-size: 70px;"></i>
    <i class="fab fa-node " style="color: lightgreen; padding: 25px; font-size: 70px;"></i>
    <i class="fab fa-npm " style="color: lightsalmon; padding: 25px; font-size: 70px;"></i>
    <div class="d3">
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" width="70px"
        height="70px" style="padding: 25px; font-size: 70px;" alt="" />
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" width="70px"
        height="70px" style="padding: 25px; font-size: 70px;" alt="" />
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg"
        width="=70px" height="70px" style="padding: 25px; font-size: 70px;" alt="" />
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg"
        width="=70px" height="70px" style="padding: 25px; font-size: 70px;" alt="" />
      <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/flask/flask-original.svg" width="=70px"
        height="70px" style="padding: 25px; font-size: 70px;" alt="" />
    </div>
  </div>
</div>
<br id="a3"><br><br><br><br><br><br><br><br>
<h1 style="font-size: 30px; color: wheat; margin-left: 70px; font-size: 42px; word-spacing:20px;">Here are some of the
  projects i have done🚧</h1>
<br><br>
<div class="d4">
  <div class="d5">
    <h1 style="color: white;">Crop Yield Prediction</h1>
    <p style="color: white; word-spacing: 12px;">Crop yiled Prediction is a website used to predict the Yield of the
      crop . It is very useful for farmers</p><br>
    <h2 style="color: white;">Tech Stack</h2><br>
    <div class="div1">Angular</div>
    <div class="div1">Flask</div>
    <div class="div1">Machine Learning</div>
  </div>
  <div class="d5">
    <h1 style="color: white;">Login And Registration with Backend</h1>
    <p style="color: white; word-spacing: 12px;">It is a website just Like login and Registration pages . First user has
      to register and next login</p><br>
    <h2 style="color: white;">Tech Stack</h2><br>
    <div class="div1">HTML</div>
    <div class="div1">CSS</div>
    <div class="div1">NODE JS</div>
    <div class="div1">MONGODB</div>
  </div>
  <div class="d5">
    <h1 style="color: white;">Todo website</h1>
    <p style="color: white; word-spacing: 12px;">It is a website where we have fields title and description . We can do
      Manipulation(CRUD)</p><br>
    <h2 style="color: white;">Tech Stack</h2><br>
    <div class="div1">ANGULAR</div>
    <div class="div1">HTML</div>
    <div class="div1">CSS</div>
    <div class="div1">NODE JS</div>
    <div class="div1">MONGODB</div>
  </div>
</div>
<br><br id="a4"><br><br><br><br><br><br><br>
<h1 style="font-size: 30px; color: wheat; margin-left: 70px; font-size: 42px; word-spacing:20px;">Work and Organising
  Expereince</h1><br>
<div class="d4">
  <div class="d6">
    <h1 style="color: white;">Codechef Student Chapter Lead</h1>
    <hr class="h1">
    <h2 style="color: white;">🏆Coding Contests.</h2>
    <h2 style="color: white;">💼Workshops.</h2>
    <h2 style="color: white;">🎤 Competitive Coding Community Growth in College.</h2>
    <h1 style="color: white;">Roles</h1>
    <div class="div1">HANDLE COLLEGE CHAPTER</div>
    <div class="div1">LEAD TEAM</div>
    <div class="div1">
      CP CULTURE</div>
  </div>
  <div class="d6">
    <h1 style="color: white;">Organised Google Hash Code HUB 2021</h1>
    <hr class="h1">
    <h2 style="color: white;">Organised google hash code hub 2021 successfully.</h2>
    <h2 style="color: white;">HUB global rank 101</h2>
    <h1 style="color: white;">Roles</h1>
    <div class="div1">ORGANISING HUB</div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br>
<h1 style="font-size: 30px; color: wheat; margin-left: 70px; font-size: 42px; word-spacing:20px;">Achievements 🏆
</h1><br>
<h2 style="margin-left: 70px; color: white;">Here are my achievements so far.....</h2>
<ul style="color: white; margin-left: 50px; font-size: 25px;">
  <li>4🌟 Rating in Codechef</li><br>
  <li>1524 Rating in Hackerearth</li><br>
  <li>💂 Codechef College Chapter Lead</li><br>
  <li>6 🌟 in Hackerrank Problem Solving</li><br>
  <li>Secured 1st Rank in DSA Marathon Coding Event(Codechef)</li><br>
  <li>Winner in GEEKOVIIT Coding Competition(College contest)</li><br>
  <li>2nd Prize in C.R Reddy Coding Competition</li>
</ul>
<br><br><br id="a5"><br><br><br>
<h1 style="font-size: 30px; color: wheat; margin-left: 70px; font-size: 42px; word-spacing:20px;">
  Contact Me 📞</h1>
<div style="margin-left: 80px; color:indianred;">
  <a href="mailto:ravitejaramoju@gmail.com">
    <h2>ravitejaramoju@gmail.com</h2>
  </a>
</div>
<br><br>
<a href="https://www.linkedin.com/in/ravi-teja-690b061a7/" style="margin-left: 100px; color: blue;"><i
    class="fa fa-linkedin-square" style="font-size:40px"></i>
</a>
<a href="https://www.instagram.com/ravi_teja915/" style="margin-left: 20px; color: red;"><i class="fa fa-instagram"
    style="font-size:40px"></i></a>
<a href="https://github.com/ravi-50000" style="margin-left: 20px; color: black;"><i class="fa fa-github"
    style="font-size:43px"></i></a>
<br><br><br><br>
<h2 style="text-align: center; color: white; font-size: 30px; font-style: inherit;">Made with ❤️ by Ramoju Ravi Teja
</h2>